In [ ]:
import pandas as pd 
import numpy as np
from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split

In [ ]:
# Criar dois dataframes diferentes, um com apenas as variaveis previsoras e outra com o alvo. talvez por estarem na mesma base de dados. esta dando erro na predição da base de dados de teste

caminho = '/content/treino_tratado.csv'
treino = pd.read_csv(caminho)
treino

,hora,temperatura,chuva,umidade,sol,vento,aluguéis,estação_outono,estação_primavera,estação_verão,dia_quarta,dia_quinta,dia_segunda,dia_sexta,dia_sábado,dia_terça,feriado_sim,visibilidade_Umidade de 0% a 30%,visibilidade_Umidade de 30% a 60%,visibilidade_Umidade de 60% a 95%
0,0.16,0.394,0,0.611,0.219,0.349,1318,0,0,1,0,0,0,0,1,0,0,0,0,1
1,0.21,0.222,0,0.633,0.000,0.289,686,0,1,0,0,0,0,1,0,0,0,0,1,0
2,0.16,0.405,0,0.528,0.251,0.397,831,0,0,1,0,0,1,0,0,0,0,0,0,1
3,0.07,0.256,0,0.709,0.000,0.109,15,1,0,0,0,0,1,0,0,0,1,0,0,0
4,0.09,0.399,0,0.581,0.169,0.109,865,0,0,1,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4495,0.06,0.304,0,0.845,0.003,0.157,723,0,0,1,0,0,0,1,0,0,0,1,0,0
4496,0.16,0.285,0,0.483,0.087,0.349,1151,1,0,0,1,0,0,0,0,0,0,0,0,1
4497,0.15,0.351,0,0.370,0.220,0.349,1321,0,1,0,0,0,0,1,0,0,0,0,0,1
4498,0.18,0.327,0,0.852,0.018,0.385,533,1,0,0,0,0,0,0,0,0,0,1,0,0
4499,0.15,0.228,0,0.543,0.039,0.121,411,0,0,0,0,0,0,0,0,1,0,0,1,0

In [ ]:
X = treino.drop('aluguéis', axis = 1)
y = treino['aluguéis']

In [ ]:
X, y = make_regression(n_samples=200, random_state=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3 , random_state=1)

In [ ]:
regr = MLPRegressor(hidden_layer_sizes=(1000,), activation='relu', solver='adam', alpha=0.0001, batch_size='auto', learning_rate='constant', learning_rate_init=0.001, power_t=0.5, max_iter=200, shuffle=True, random_state=None, tol=0.0001, verbose=False, warm_start=False, momentum=0.9, nesterovs_momentum=True, early_stopping=False, validation_fraction=0.1, beta_1=0.9, beta_2=0.999, epsilon=1e-08, n_iter_no_change=10, max_fun=15000).fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

In [ ]:
predicoes = regr.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error
import math

mse = mean_squared_error(y_test, predicoes)

rmse = math.sqrt(mse)

print(rmse)
#RESULTADO ESTA BOM, MAS FALTA CONSEGUIR TESTAR NA BASE DE TESTE

110.14081438762909

In [ ]:
###
import pickle
filename = 'modelo-MlPregressor-dados-tratados.sav'
pickle.dump(regr, open(filename, 'wb'))

####

In [ ]:
caminho2 = '/content/teste_tratado.csv'
teste = pd.read_csv(caminho2)
teste.head(3)

,hora,temperatura,chuva,umidade,sol,vento,estação_outono,estação_primavera,estação_verão,dia_quarta,dia_quinta,dia_segunda,dia_sexta,dia_sábado,dia_terça,feriado_sim,visibilidade_Umidade de 0% a 30%,visibilidade_Umidade de 30% a 60%,visibilidade_Umidade de 60% a 95%
0,0.21,0.333,1,0.724,0.0,0.205,0,0,1,0,1,0,0,0,0,0,0,0,1
1,0.00,0.250,0,0.731,0.0,0.085,1,0,0,0,0,1,0,0,0,0,0,1,0
2,0.04,0.221,0,0.679,0.0,0.109,1,0,0,0,0,1,0,0,0,0,0,0,0

In [ ]:
Xteste = teste
Xteste

,hora,temperatura,chuva,umidade,sol,vento,estação_outono,estação_primavera,estação_verão,dia_quarta,dia_quinta,dia_segunda,dia_sexta,dia_sábado,dia_terça,feriado_sim,visibilidade_Umidade de 0% a 30%,visibilidade_Umidade de 30% a 60%,visibilidade_Umidade de 60% a 95%
0,0.21,0.333,1,0.724,0.0,0.205,0,0,1,0,1,0,0,0,0,0,0,0,1
1,0.00,0.250,0,0.731,0.0,0.085,1,0,0,0,0,1,0,0,0,0,0,1,0
2,0.04,0.221,0,0.679,0.0,0.109,1,0,0,0,0,1,0,0,0,0,0,0,0
3,0.06,0.365,0,0.807,0.0,0.193,0,0,1,0,0,0,0,0,1,0,0,1,0
4,0.21,0.342,0,0.656,0.0,0.205,0,0,1,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0.23,0.185,0,0.468,0.0,0.049,0,1,0,0,0,0,0,1,0,0,0,0,1
2996,0.21,0.155,0,0.626,0.0,0.385,0,0,0,0,0,0,0,0,0,0,0,1,0
2997,0.23,0.220,0,0.784,0.0,0.349,0,0,0,0,0,0,1,0,0,0,1,0,0
2998,0.04,0.366,0,0.701,0.0,0.145,0,0,1,0,1,0,0,0,0,0,0,0,0
2999,0.05,0.309,0,0.912,0.0,0.133,0,1,0,0,1,0,0,0,0,0,0,0,1

In [ ]:
#preciso arrumar 
predicoes2 = regr.predict(Xteste)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but MLPRegressor was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

ValueError: ignored